<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <img src="images/kde-logo.png"/> Atelier &#8210; The KDE Printer Host for 3DPrinting
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>Atelier is a project with the goal to fulfil the <a href="https://dot.kde.org/2016/04/05/kde-presents-its-vision-future" target="_blank">KDE Vision</a> of conquering all devices. The focus of Atelier is to provide a great user experience through a printer host - a software that allows the user to control and monitor a 3D printer from their computer, and in the future, from their embedded devices or remote desktops.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Atelier uses Qt to handle serial communication, and AtCore is our API that handles serial management, firmware recognition, and protocol communication. We are still discovering the best way to build widgets for our interface and learning how to use KDE Frameworks to improve it.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>In 2016, our team -  Lays Rodrigues, Patrick Pereira, Chris Rizzitello, Tomaz Canabrava - worked on implementing support for open source 3D printer firmware (Marlin, Repetier, Teacup, APrinter and SPrintern). We successfully tested 3D printers with Marlin, Repetier, and Teacup. Another achievement is the creation of AtCore for Windows  - an important step in spreading Atelier to other platforms.</p>
                </div>
            </div>
		<div class="col-sm-6 pricing-table">
                    <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/atelier.png" alt=""/>
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>Atelier</h3>
                                        <p>Port to KDE Frameworks 5, Clang-based Parser, and More!</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-expand">
                                            <a href="images/atelier.png" data-lightbox="portfolio">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<br/>
