<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://fudcon.fedoraproject.org/" target="_blank"><img src="images/fudcon-logo.png"/></a> FUDCON 2016
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>FUDCon (Fedora Users and Developers Conference) is an important event in the world of free software organized by the Fedora Project. FUDCon takes place in multiple locations around the world, and comprises talks, workshops and hackfests. In 2016, one of the FUDCons was held in Cambodia, where Fedora developers and other participants from Australia and the Asia-Pacific region presented various open source initiatives.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>The conference focused on introducing beginners to open source and guiding them through the contribution process. Srijan Agarwal, core developer at WikiToLearn, was selected to deliver a talk titled “WikiToLearn: Bringing Academia to the Internet Era: A revolution in Knowledge Sharing”. He introduced WikiToLearn, explained how to contribute to the project, and showed attendees how to make their own personalized book.</p>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
