<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="http://randa-meetings.ch/" target="_blank"><img src="images/rm-logo.png"/></a> Randa Meetings 2016
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>In June 2016, another edition of the Randa Meetings was held in Switzerland. Several dozen artists, developers, documentation writers and other contributors found their way to a small village in the middle of Swiss Alps to work together for a whole week. Their common goal was to bring KDE Technology to every device.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>The KMyMoney group completed and announced the long-awaited 4.8 release of their project and immediately started working on preparing the master branch for KF5. They worked on dropping KDELibs4Support and ironing out the buildsystem on Linux, Windows and MacOS X.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Different platform groups (namely Linux/FreeBSD, Windows, MacOS and Android) organized general meetings throughout the week. They came up with new ways to distribute KDE software and bring more of it to their platforms. Those BoF sessions resulted in a closer integration of Windows and Android into our CI (Continuous Integration) system, and produced more documentation on how to use KDE Frameworks 5 (KF5) on these platforms. Kate and KDevelop developers worked hard on bringing their software to Windows and MacOS, which resulted in several (beta) releases since June 2016. The Marble team, who regularly attend the Randa Meetings, organized their yearly developer sprint, where they produced a new Marble release for Windows and improved their Android port called Marble Maps.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/randa2016.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Randa Meetings 2016</h3>
                                    <p>Hard Work and Nice People at Swiss Alps</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/randa2016.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>This session of Randa Meetings also provided a special opportunity for our Google Summer of Code student Joseph from Kenya to meet his mentor Jean-Baptiste Mardelle in person for the first time. Working together, they made great progress on porting Kdenlive to Windows and other platforms.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>An interesting meeting took place between KMyMoney developers and the representatives of the local Raiffeisenbank. The developers presented the history and purpose of KMyMoney, demonstrating some of its features, like online banking and multi-currency support. The Raiffeisenbank representatives were very impressed and discovered some use cases of this free and open source project for their customers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
