<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://en.wikitolearn.org" target="_blank"><img src="images/wikitolearn-logo.png"/></a> WikiToLearn
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>WikiToLearn has seen a lot of exposure in 2016 thanks to several events and conferences. In February we had a presentation at FOSDEM, and in the following months we presented our project in Turin, at a student meeting of the Italian Association of Physics, and at the Open Source Conference in Albania (OSCAL). We also had the opportunity to present WikiToLearn at two GARR (Italian Network of Research and University) conferences, where we delved into the technical details of WikiToLearn Home and the new WikiToLearn1.0. Last but not least, we promoted WikiToLearn during MozFest2016 and presented it at the Imperial College and UCL London.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>WikiToLearn was also present at Wikimania 2016, where we connected with several projects involved in open education (WikiEdu, OpenTextbooks4Africa, WikiMed Project, and others). QtCon+Akademy in September inspired us to work hard on the new release, develop the course editor, and reorganize the content on our website. We met many people from the KDE Community and gained valuable feedback. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>Public interest in WikiToLearn has grown a lot in 2016. Various Italian newspapers, magazines and radio stations (Wired, Il Fatto Quotidiano, Motherboard, RadioPopolare) talked about us. More academic institutions (Imperial College, UCL, Rete Della Conoscenza, WikiMedia CH) expressed their interest in WikiToLearn and their willingness to collaborate with us. The new release had a strong impact among the users, especially on social media. This motivated us to create a more concrete and usable version of the site, and helped us increase the number of contributors.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>One of our main interests was community building as a method of developing public relations. We established a decent local community in India, where we organized the first MediaWikiToLearn hackathon and planned the WikiToLearnConf India event for 2017. We hope to increase the number of local communities in the future, and we are also planning to start a promotional campaign with new posters and slogans. With the new version of WikiToLearn out, we're already thinking of ways to improve and deliver a stable version of WikiToLearn 2.0 as soon as possible.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
