---
title: "2005 Meeting Notes"
layout: page
---

<p><em>These are rough notes from the KDE e.V. Assembly on 26 August 2005, by Jonathan Riddell</em></p>

<p>Matthias Kalle Dalheimer welcomes everyone.</p>

<p>First order of business is counting the number of votes including proxies, we have 62 out of 123 today, so more than 50% (that's not necessary).  He reads out the proxy votes.  Look at your neighbour and check everyone here is a member.  Those who are present here will vote first, then the second round will have proxy votes, third round will have people who have a second proxy, we have spent most of the morning trying to work out an easier voting form but haven't found one.</p>

<p>Zack says there's two people here who would like to become members, Ben Meyer and Marius Bugge Monsen (both Trolltech employees).  Question if they are just Qt developers and not KDE developers.  Some discussion on whether Marios has contributed enough to KDE or just to Qt.  The membership votes on their membership and they are accepted.</p>

<p>Next is to vote for an assembly chair, Matthias Kalle Dalheimer suggests Chris Schlaeger and there's no objections.  </p>

<p>Did everyone get an invitation and was process followed OK?  No objections so that means we are OK to vote.</p>

<p>Agenda: report of board, report on trademark, policy for supporting members, auditors report, report from FreeQt foundation reps, report from KDE League (some sniggers), approval of board's work, voting the new board's 4 members, elect new reps for FreeQt, reimbursement, report of related organisations, membership and other organisations.  Any fundamental issues such as changing by-laws needs the assembly notified in writing with the invitations.  </p>

<p>Report from board.  We did some changes to the institutes in Nove Hrady, those changes were to help us become charitable, they became active last October.  If we become a German charity there are special laws we need to oblige.  The most important thing is that German people giving money to us can get tax back and also we don't have to pay tax.  We also have to decide for all income and all expenses what kind of expense this is.  We have three groups here, one is the ideal activity which is according to the goals of e.V. (teach people about KDE), second group is the activity to run KDE e.V. such as having this assembly meeting or having an employee, also asset management including having merchandising.  There are business activities too such as professional KDE support which is just like a company.  We can become non-profit for the year past.  Martin Konold says thanks, this should help us a lot in the future and asks about sponsorship.  If we receive money for sponsorship that's advertising and means paying taxes.  Question if there's been any cases where someone would have donated money but hasn't because we aren't charitable.  No.  Is there any benefit for non-German companies?   Not for the company but yes for e.V. because we don't have to pay taxes.  There is at least one law suit in the EU courts about if charitable status in one country means it for other EU counties so it depends on the outcome of that lawsuit which could take years.  Are we allowed to link to companies which support KDE?  Yes we can but Eva says she is talking to accountants about this sort of thing.  Ingo says we should thanks Eva, round of applause.</p>

<p>Treasurer's report.  Did you all read the report submitted to the membership list?  A few people nod.  We have a balance of 51000 euro, expenses each year are usually the same amount.  Donations are usually about the same amount so the balance is fairly steady.  Spending funds is more important just now he thinks than raising them.  We mostly spend the money that we receive on fees, for example OASIS membership for David and youth hostel organisation.  We spend money on hardware, mostly Coolo sends invoices for that but it's not a huge amount.  We spend money on PR expenses which means mugs and leaflets.  The problem is that selling is a business activity, as long as we give it away for free it's fine this is why we don't receive a lot of funds from PR.  In the last 2 years we spent a significant amount on legal fees for trademarks, we don't have a lot of influence on the costs of this.  These expenses will probably go on for another year until we get TM in US and ongoing after that.  Every 3 years we have to pay recurring fees for registration.  In the report it says we spent a lot on conferences, this is mostly money that is passing through such as paying for the residence which everyone then pays for individually.  Our current use of funds is set by the goals of KDE e.v. which are quite limited.  It doesn't make sense to raise funds where that is more money than we can use under the limited scope of the organisation.  We have other strong supporters such as companies who pay people's travel expenses.  He recommends that we consider the focus of KDE's scope and goals and maybe redefine it.  </p>

<p>Question how much could be raised if we did more active fundraising.  We did some direct fundraising for meetings, for a simple call around we got 15,000euro.  If we call out that we need money we could probably get double what we get now, the question is what would we use it for.  Lets discuss what to do with money under miscellaneous.  Point from Ian Geiser that in his experience it's easy to get funds when there is a pre-made budget, they can go to a single company and reach a budget, in e.V.'s case we may need to work out what should be accomplished in a year and made a budget for that (more conferences, focused developers meetings etc).  </p>

<p>Next point from treasurer Mirko.  What do we want to reimburse.  There was a misunderstanding for points that for this project we approved up to 1500euro then someone came and asked for their 1500euro but the money is budgeted up to 1500euro as long as it has proof of expenses, this is normal procedure but not everyone has understood this.  We are being exposed to more and more tax issues and we have to act properly in a charitable manner.  In March someone required advanced payment on an item, he got that but there's been no proof of spending it, he needs invoices for all expenses.  </p>

<p>Trademark report from Matthias Kalle Dalheimer.  Last year, on the European side the office had accepted the trademark and we were waiting on the objection period.  That's now over and we own the trademark including the gear logo.  Now we are waiting on the US side.  Paperwork is going back and forth to get the US to accept the publication papers of Europe.  He hopes that next year we should be through the process in the US too.  Question on what the future board will have to do.  He wishes he knew, there is a lawyer in the US working on it.  Question on Australia (given recent Linux problems) and maybe Asia. He had checked submitting applications in other places (Japan, Australia, Canada).  The problem is that it's the same paper-war each time and in Japan is very expensive, so they had decided to just do EU and US for now since it's unlikely that someone will want to use their trademark without being able to use it in EU and US.  If someone wants to help with other applications that's fine but he doesn't see much benefit.  </p>

<p>FreeQt foundation report from Cornelius and Konold.  There was no need for activity this year so they met and talked about formalities but nothing else has happened so far.  Thanks to Andreas Pour for his careful legal checking.  Question if FreeQt covers all platforms.  Not currently, that is a future goal.  </p>

<p>Andreas has said he is happy to dissolve the league if he gets a letter saying he is relieved of future work.  There are a few thousand pounds of money in the bank.  Are there any issues left?  Not as far as we know, he is very interested in having this issue go away and has been transparent.  Can we get a letter from Andreas and major members saying there are no known open issues?  Possibly but let's not make things too complex.  Do we want to get a letter from Andreas stating that there are no known open obligations and ask him to transfer funds to e.V?  Can we ask the board to just take care of this?  Vote decides we can.  </p>

<p>Can we relieve the board?  There is an issue with the accounts and question of whether they have been reviewed, usually we ask two members to review it, this year we asked an official accountant to review it as well but the two membership reviewers have only seen the accountant's report (not the full accounts) and Lars (one of the reviewers) is not here.  There are also two items where there has been no invoice, this is a total of 1000euro.  He has the credit card payment but no invoice from hotel because nobody picked them up.  What happens if the board does not get relieved?  They will still be responsible.  Eva says if she is not relieved she won't run again because it is a trust issue.  Can we take a break while checkers look at the accounts?  Not easily.  Vote to relieve the board is passed.  Round of applause for the board.  </p>

<p>Last year we requested the board to have a nice dinner.  They report that they had a successful dinner but they lost the receipt so never claimed it.  Vote to give them a nice dinner this year is passed.  </p>

<p>Vote on 4 new board positions.  Tradition is 4 people voted in and they figure out the jobs afterwards.  This is a secret vote.  The candidates say why they want to be on the board.  Mirko Boehm says he wants to run for 1 year for a smooth transition to the next board.  This will also allow for not having one big change in the board every three years.  Thiago Macieira wants to help the e.V. membership and will do whatever he can to make sure it works.  Stephan Binner wants to run, he has criticisms for the current board and the time it takes for them to respond to requests, better membership management, he supports acquiring all the KDE related domains including kde.com, exploring how to get more donations including delisting non-paying sponsors, get funds from the Linux Fund, wants an advisory board that companies can join for a regular income, open merchandising contact.  Aaron Seigo wants to extend the relevance of e.V. outside Germany and EU.  Eva Brucherseifer wants to run for another one or two years to bring her experience and not make a complete new board.  Cornelius Schumacher feels that KDE has a strong community and deserves a strong organisation (which means e.V.).  Matthias Kalle Dalheimer said he was looking forward to not being on the board having done his terms already, but he has thought about the number of things that he still wants to work on such as the trademark and supporting members, he will probably also step down after one or two years (depending on whenever other members will step down), he will only accept if the board is people he thinks he can work with.  </p>

<p>The membership writes their votes on paper and puts the papers in a red hat.  The votes are read out at great length.  Some worry that there might be more votes than people but a count says this is not true.  Mirko 42, Thiago 34, Stephan 20, Aaron 53, Eva 54, Cornelius 46, Kalle 27.  Eva accepts, Aaron accepts, Cornelius accepts, Mirko accepts.  Count was done with a SuSE pen to counter the red hat.</p>

<p>Dinner break.</p>

<p>Resume after dinner.  Chris Schlaeger is back as M.C.</p>

<p>Elect representatives for KDE Free Qt foundation.  Any candidates?  Ian Geiser, Cornelius Schumacher, Martin Konold, Ken Wimer.  Cornelius declines.  We vote on Geiser but the votes don't add up.  So now we vote on the candidates all at once.  Konold and Geiser get elected.</p>

<p>KDE League reps.  Danimo, Mirko, Aaron proposed.  Mirko and Aaron decline.  Chris Schlaeger says that he founded the league so if anyone wants to knock down what he founded stand up.  Someone proposes Chris and there is spontaneous clapping in time but Chris says that to keep openness he shouldn't bring it down what he created.  Someone in the US would be good.  Chris Lee suggested.  No objections to Danimo and Chris Lee.  </p>

<p>Miscellaneous Items</p>

<p>Suggestion from the treasurer of paying an allowance of about 20 euro a day to people representing KDE, not to pay anyone for working but for covering expenses e.g. food.  This is allowed by the charitable allowances.  Konold gives a counter proposal for letting the board make up rules to be posted to the list.  There will be an allocated leader for an event who will allocate who is on the team and is eligible for expenses.  He notes that in the past people have sent in first class tickets which is why they now only pay 80% of expenses.  </p>

<p>Supporting members proposal by Matthias Kalle Dalheimer.  Two categories, individual members and corporate members.  Individual members would pay 100euro per year and corporate 1000euro per year.  They will get listed on a page on kde.org, a link to their website with logo, artists can create a KDE e.v. supporting logo for their website, written invitations to conferences, can attend assemblies without a vote, preferential treatment for rooms at conferences, mailing list kde-ev-allowance for event expenses.  Corporate members get subscribed to kde-ev-supporters which regular members are subscribed on too and they can suggest improvements to KDE and they would get a designated contact within the KDE developers.  Corporate members would present themselves in a short article when they join and get a slot at KDE conferences.  Question if only one level for corporate supporting members, the Gnome foundation has $10000 a year members, wouldn't it make sense for different corporate levels?  We played around with that thought and had levels by annual turnover etc, the problem is if you pay more you have to offer more back.  The idea is that the 1000euro is small enough to be affordable to most businesses, they have played around with 5000euro level which would have cut off small business.  FSF has Richard Stallman doing a custom message on your answering machine as a benefit.  It opens more questions than it answers.  Would these new mailing lists be secret?  They had played around with the idea of subscribing them to the kde-ev-membership list but that wouldn't be practical, the idea of these new ones is they probably couldn't remain secret.  Proposal (with one corporate member level) is accepted by vote.  Konold says that next year we should set up an advisory board which is more expensive to join. </p>

<p>Discussion on membership of other organisations (w3c, x.org etc).  This is something which we lack and we should find people to represent us in these organisations.  Getting Qt into the LSB proposals is a good example.  With LSB we have made good progress in getting involved.  e.V. is for non-technical only and this is getting technical, that means we should change e.V. rather than not do it.  e.V. needs be the organisation for this because it's difficult to do in the open, also e.V. has the money.  Proposal that the board can assign titles to people on request.  Much discussion which gets much broader than this.  e.V. lacks focus and coordination.  Can e.V. get involved in technical decisions?  Mirko has a vision that next year we should have people reporting back on development, marketing, legal etc.  Matthias Ettrich says that he went to an LSB meeting and had no clout compared to president of Gnome Foundation because he had no position.  Vote on do we want to add technical guidance as a part of KDE e.v.  Passed.  Do we want to create a structure for working groups?  Passed.  </p>

<p>Proposal to make next year have a focus, with a significant budget, for KDE promotion.  Lots of discussion mostly saying why this isn't possible because we can't force people to work on marketing, if someone wants to propose how to spend lots of money on marketing they'll probably get it.  Coolo says we can emphasise marketing when KDE 4 is towards ready.  Vote on can the board spend a significant amount of it's budget on marketing if a marketing group makes a plan.  Passed.</p>

<p>Auditors for next year.  Jon Tapsel and Stephan Binner proposed.  No objections.  </p>

<p>Do we want to also extend e.V. to political and business matters.  The board felt that a vote on this isn't necessary since it is already part of e.V.'s responsibility it just has never been very good at it.</p>

<p>Next conference and e.V. meeting?  There will be a discussion on the mailing list to finish at end of September.  </p>

<p>With regards to OSDW is the e.V. open to more smaller technical meetings besides akademy?  Yes, proposals welcome.  We have had KDE PIM, KOffice and KDevelop meeting, would those also fall under the umbrella of something e.V. can make official?  Yes, this is usually a matter of someone sending a request, planning and executing.  </p>

<p>Helio Castro says Brazil is good for next KDE conference but probably not in August, point that the discussion of when to hold akademy is one that should be on the mailing list since the ones who can't make it in August aren't here.</p>

<p>We have a speaker from the local government tomorrow, please everyone here at 9:00 or it will make us look bad to those who have provided us with Akademy.  </p>
