<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/educode-logo-transparent.png" /> <a href="https://www.educode.be/">EduCode</a></h2>
                    <h5>By Paul Brown</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                        
                            <figure class="image-right">
                                <img width="100%" src="images/events/EduCode_view.jpg" alt=""/>
                                <figcaption>View of EduCode's exposition area.</figcaption>
                            </figure>                        
                        
                        
                            <p><a href="https://www.educode.be/">EduCode</a> is an event where teachers, school directors, parents and students, researchers and anyone interested in teaching and technology as well as in continuing education reflect on how to best use digital education and teaching through technology at all levels (primary, secondary, higher education, and social promotion).</p>

                            <p>KDE Promo got in touch with the EduCode association (organizers of the event). KDE was subsequently kindly invited to participate in the 2018 edition of the event. EduCode 2018 was held on the 27th and 28th of August in Brussels, Belgium at Bozar and at the Royal Academy.</p>

                            <p>As KDE has a whole suite of educational software we distribute under the <a href="https://kde.org/applications/education/">KDE-Edu</a> banner, we thought this would be a good opportunity to raise awareness of our software among a non-technical audience that could make the most of it, too.</p>
                        
                        
                            <p>We thought that <a href="https://gcompris.net/index-en.html">GCompris</a>, which contains arguably the most comprehensive and best collection of activities for pre-schoolers and primary school students, would be especially interesting for attendees. We also wanted to push <a href="https://www.wikitolearn.org/">WikiToLearn</a> as a solution for pooling and converting notes into reusable class materials.</p>
                            
                            <figure class="image-left">
                                <img width="100%" src="images/events/Educode_booth.jpg" alt=""/>
                                <figcaption>KDE booth showcasing GCompris at Educode 2018.</figcaption>
                            </figure>                        

                            <p>The first day was exhibition day at EduCode. The organisers kindly gave us a booth, and we rented a large 42'' screen on a two-meter high stand to showcase GCompris, probably the most eye-catching of the applications. We also set up a chair on the public side of the booth and invited visitors as the walked by to sit and try some of the activities.</p>
                            
                            <p>We had in-depth conversations with 26 people, 15 of whom were teachers. 24 adults played with GCompris, and a child from the Lego robotics booth gave GCompris a 4-star rating! Apart from teachers, we also talked to an educational events organiser who would like us to take our booth to his events. We also handed out several dozens of stickers with the KDE Edu, GCompris and WikiToLean URLs in the hope that attendees would visit the sites, and consider using KDE software in their classrooms.</p>

                            <p>On day two, we hosted an hour-long workshop that mostly focused on GCompris (since the majority of attendees were primary school teachers). Still, we also managed to demo the usefulness of WikiToLearn and showcased a few other KDE Edu applications.</p>

                            <p>As there were 11 simultaneous workshops going on at the same time, and fewer than 100 attendees in total, attendees were spread out pretty thin. Nine people visited our workshop, so our attendance was more or less average. Six of our attendees were primary school teachers, one was a speech therapist, and two were businesspeople working within the educational sector.</p>

                            <p>Some of the attendees had worked with GCompris before, but those that hadn't were impressed and there were a few "Oooh" and "Aaah" moments. There were some feature requests, like being able to save individual profiles for students in GCompris, and attendees were interested in the upcoming admin module. The admin module will allow teachers to control a classroom of computers and monitor students' progress.</p>

                            <p>WikiToLearn was also popular - the teachers saw how useful it can be, and were impressed with the dynamic PDF rendering.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Attending EduCode 2018 was a positive experience for us. We picked up some leads that we are looking into. As always, it is not easy to evaluate the impact a single event may have on the overall project. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>That said, our participation in EduCode 2018 helped confirm that our plans of going to where non-technical end users congregate, especially those in a specific niche, is not at all harebrained. People know little of our work outside the FLOSS community, but are interested and even surprised when we tell them about what we do. It is a good way to raise awareness of our software beyond our immediate bubble, and thus expand our user base.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</section>
